Source: tuxbox-plugins
Priority: optional
Section: tuxbox-image
Maintainer: Bastian Blank <waldi@debian.org>
Build-Depends: debhelper (>> 3.0.0), gcc-3.2, zlib1g-dev, libcurl-dev, libfreetype6-dev, tuxbox-driver-dev
Standards-Version: 3.5.7

Package: tuxbox-plugins-fx2-lib
Architecture: any
Depends: ${shlibs:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: tuxbox-plugins-fx2-master
Architecture: any
Depends: ${shlibs:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: tuxbox-plugins-fx2-mines
Architecture: any
Depends: ${shlibs:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: tuxbox-plugins-fx2-pac
Architecture: any
Depends: ${shlibs:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: tuxbox-plugins-fx2-snake
Architecture: any
Depends: ${shlibs:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: tuxbox-plugins-fx2-tank
Architecture: any
Depends: ${shlibs:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: tuxbox-plugins-fx2-tetris
Architecture: any
Depends: ${shlibs:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: tuxbox-plugins-fx2-yahtzee
Architecture: any
Depends: ${shlibs:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: tuxbox-plugins-tuxtxt
Architecture: any
Depends: ${shlibs:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: tuxbox-plugins-dev
Section: devel
Architecture: all
Depends: ${shlibs:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

